<header>
    <div class="container">
            <nav class="navbar navbar-expand-lg  navbar-dark ">
                    <a class="navbar-brand" routerLink="/">
                        <img src="assets/img/emoon_logo.png" style="margin-top:5px; height: 30px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                     
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        
                      </form>
                      <span class="navbar-text" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="btn btn-primary" href="https://www.google.com" i18n="my account" i18n>My Account</a>
                        </span>
        
                    </div>
                  </nav>
    </div>
</header>